$color-primary: rgb(253, 253, 253);
$color-secondary: #414141;
$color-tertiary: #1b9aaa;
$grey-primary: rgb(123, 125, 134);
$gradient-primary: #1b9aaa, #34a0a4;
$gradient-linear: #d9ed92, #b5e48c, #99d98c, #76c893, #52b69a, #34a0a4, #168aad,
  #1a759f, #1e6091, #184e77;
$gradient-cycle: #d9ed92, #99d98c, #52b69a, #168aad, #1e6091, #184e77, #1a759f,
  #34a0a4, #76c893, #b5e48c, #d9ed92;
$react: #61dafb;
$redux: #764abc;
$tailwind: #06b6d4;
$node: #339933;
$postgres: #4169e1;
$firebase: #ffca28;
$gsap: #88ce02;
$scss: #cc6699;
