*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  font-family: inherit;
}

$color-primary: #fdfdfd;
$color-secondary: #414141;
$color-tertiary: '';
$button-width: '';
$button-padding: '';

body {
  /* font-size: 62.5%; */
  font-family: 'Syne', sans-serif;
  line-height: 1.7;
  color: $color-secondary;
  background-color: $color-primary;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  width: 100%;
  padding: 0 50px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: all 300ms ease-in;
  animation: navbarAppear 300ms ease-in;
}

.header.active {
  /* background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  ); */
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header.hidden {
  visibility: hidden;
  animation: navbarDisappear 300ms ease-in;
}

.navigation {
  display: flex;
}

.navbar {
  margin-right: 10px;
}

.nav {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  list-style: none;
}

.nav-item-link:link,
.nav-item-link:visited {
  text-decoration: none;
  color: rgb(65, 65, 65);
  margin-right: 10px;
}

// .intro h1 {
//   font-size: 4.5rem;
//   /* display: inline-block;
//   background-image: radial-gradient(
//     circle farthest-corner at 10% 20%,
//     rgba(255, 209, 67, 1) 0%,
//     rgba(255, 145, 83, 1) 90%
//   );
//   -webkit-background-clip: text;
//   color: transparent; */
// }

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);

  .intro__title {
    font-size: 2rem;
    font-weight: 400;

    &--focus {
      font-size: 4.5rem;
      display: block;
      font-weight: 700;
    }
  }
}

.logoBox {
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: rgb(65, 65, 65);
  cursor: pointer;
  transition: animation 0.3s;
}

.logo-contacts {
  position: absolute;
  padding-left: 10px;
  display: flex;
  top: 15px;
  left: 160px;
}
.logo-email {
  animation: contacts 500ms ease-out;
  cursor: pointer;
}

.logo-linkedIn {
  animation: contacts 500ms ease-out;
  cursor: pointer;
  margin: 0 15px;
}

.downloadButton {
  font-weight: 500;
  align-self: center;
  border-style: none;
  height: 70%;
  padding: 8px 15px;
  background: transparent;
  border: 2px solid rgb(65, 65, 65);
  border-radius: 100px;
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s, background-color 0.3s;
}

.downloadButton:hover {
  background-color: rgb(65, 65, 65);
  color: rgb(254, 254, 254);
  transform: scale(1.05) translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.downloadButton:active {
  background-color: rgb(65, 65, 65);
  transform: scale(1) translateY(0);
}

.main {
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  margin: 0 250px;
}

#about p {
  font-size: 1.3rem;
}

.experience {
  width: 100%;
}

.experience-list {
  margin-right: 30px;
}
.experience-container {
  display: flex;
}

.experience-item {
  padding: 8px 5px;
  border-left: 3px solid rgba(100, 100, 100, 0.8);
}

.experience-item.selected {
  transition: all 0.3s ease-in;
  border-left: 3px solid #f9d862;
  background-color: rgba(65, 65, 65, 0.8);
  color: #fdfdfd;
  box-shadow: rgba(164, 110, 22, 0.2) 0px 18px 29px 0px;
}

.missions-item::before {
  content: '▹ ';
}

.projects {
  display: flex;
  justify-content: space-between;
}

.project-item {
  min-width: 200px;
  max-width: 500px;
  min-height: 200px;
  max-height: 400px;
  display: inline-block;
  padding-bottom: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.project-item:hover {
  transform: translateY(-1px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.project-item .project-image {
  object-fit: cover;
  height: 200px;
  width: 100%;
  clip-path: ellipse(95% 63% at 50% 35%);
}

.project-name,
.project-desc,
.project-techs {
  padding: 0 20px 5px;
}

.project-techs .tech {
  padding: 5px 10px;
  border: 2px solid rgb(65, 65, 65);
  border-radius: 100px;
  margin-right: 5px;
}
.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer-text {
  margin-right: 15px;
}

.footer-medias {
  margin-right: 10px;
  border-radius: 50%;
}

.loading {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: rgb(20, 20, 20);
  color: rgb(220, 220, 220);
}

.loading-title {
  font-size: 6rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.5rem;
}

.loading-title_char {
  display: inline-block;
  transform: translateY(118px);
  transition: transform 0.5s;
}

.section {
  padding: 80px 0;
}

.section > h2 {
  font-size: 2rem;
}

#contact {
  text-align: center;
  margin: 0 280px;
}

.contact-button {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid rgb(65, 65, 65);
  border-radius: 100px;
  transition: all 0.3s;
  text-decoration: none;
  color: rgb(65, 65, 65);
}

.contact-button:hover {
  background-color: rgb(65, 65, 65);
  color: rgb(254, 254, 254);
  transform: scale(1.05) translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contact-button:active {
  background-color: rgb(65, 65, 65);
  transform: scale(1) translateY(0);
}

@keyframes navbarAppear {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes navbarDisappear {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}

@keyframes contacts {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
