$color-primary: rgb(253, 253, 253);
$color-secondary: #414141;
$color-tertiary: #1b9aaa;
$grey-primary: rgb(123, 125, 134);
$gradient-primary: #1b9aaa, #34a0a4;
$gradient-linear: #d9ed92, #b5e48c, #99d98c, #76c893, #52b69a, #34a0a4, #168aad,
  #1a759f, #1e6091, #184e77;
$gradient-cycle: #d9ed92, #99d98c, #52b69a, #168aad, #1e6091, #184e77, #1a759f,
  #34a0a4, #76c893, #b5e48c, #d9ed92;
$react: #61dafb;
$redux: #764abc;
$tailwind: #06b6d4;
$node: #339933;
$postgres: #4169e1;
$firebase: #ffca28;
$gsap: #88ce02;
$scss: #cc6699;

@mixin linkStyle {
  text-decoration: none;
  color: $color-secondary;
}

@mixin buttonStyle {
  font-weight: 500;
  padding: 0.6em 1.5em;
  background-color: $color-tertiary;
  // border: 2px solid $color-tertiary;
  border: none;
  color: #fff;
  border-radius: 3em;

  &:hover {
    background-color: darken($color-tertiary, 10%);
    // background-color: rgb(254, 254, 254);
    // color: $color-tertiary;
    // transform: scale(1.05) translateY(-1px);
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: darken($color-tertiary, 10%);
    color: darken($color-primary, 10%);
  }
}

// MEDIA QUERIES
/*

0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800: normal style (no media query)
1800+ px: Big desktop

*/
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //max-width : 600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //max-width : 900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //max-width : 1200px
      @content;
    }
  }
  @if $breakpoint == big-desk {
    @media (min-width: 112.5em) {
      //min-width : 1800px
      @content;
    }
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  font-family: inherit;
}

html {
  font-size: 62.5%;

  @include responsive(big-desk) {
    font-size: 75%; //1rem = 12px
  }

  @include responsive(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }

  @include responsive(tab-port) {
    font-size: 50%; //1rem = 8px (8/16 = 50%)
  }

  @include responsive(phone) {
    font-size: 37.5%; //1rem = 6px
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Syne', sans-serif;
  line-height: 1.7;
  color: $color-secondary;
  background-color: $color-primary;
  box-sizing: border-box;
  overflow-x: hidden;
}

.loading {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: rgb(20, 20, 20);
  color: rgb(220, 220, 220);

  &__title {
    font-size: 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 0.8em;

    @include responsive(tab-port) {
      font-size: 8rem;
    }

    @include responsive(phone) {
      font-size: 7rem;
    }
  }
  &__title-char {
    display: inline-block;
    transform: translateY(118px);
    transition: transform 0.5s;
  }
}

.animated-gradient {
  background: linear-gradient(to right, $gradient-cycle);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;
  animation: background-pan 5s linear infinite;
}

.header {
  width: 100%;
  padding: 0 5rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: all 300ms ease-in;
  animation: navbarAppear 300ms ease-in;

  &--active {
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  &--hidden {
    visibility: hidden;
    animation: navbarDisappear 300ms ease-in;
  }
}

.logo {
  position: relative;

  &__text {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    color: $color-secondary;
    cursor: pointer;
    transition: animation 0.3s;
  }

  &__contact {
    position: absolute;
    padding-left: 1rem;
    display: flex;
    top: 1.5rem;
    left: 16rem;
  }

  &__linkedin {
    animation: contacts 500ms ease-out;
    cursor: pointer;
    margin: 0 1.5rem;
  }
  &__email {
    animation: contacts 500ms ease-out;
    cursor: pointer;
  }
}

.navigation {
  display: flex;
  align-items: center;

  @include responsive(tab-port) {
    display: none;
  }
}

.nav {
  font-size: 1.5rem;
  margin-right: 1rem;

  &__list {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style: none;
  }

  &__item-link:link,
  &__item-link:visited {
    @include linkStyle;
    margin-right: 1rem;
  }
}

.downloadButton {
  @include buttonStyle;
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s, background-color 0.3s;
  font-size: 1.3rem;
}

.hamburger {
  display: none;

  @include responsive(tab-port) {
    display: block;
  }

  span {
    display: block;
    width: 28px;
    height: 2px;
    // border-radius: 9999px;
    background-color: $color-secondary;
    transition: width 0.4s, transform 0.4s;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  &.active {
    transition-property: transform;
    transition-delay: 0.8s;

    span:nth-child(2) {
      width: 0;
    }

    span:nth-child(1),
    span:nth-child(3) {
      transition-delay: 0.4s;
    }

    span:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    span:nth-child(3) {
      transform: translateY(-9px) rotate(135deg);
    }
  }

  // &__nav {
  //   position: fixed;
  //   top: 20vh;
  //   left: 0;
  //   width: 100vw;
  //   height: 80vh;
  //   background-color: $color-primary;
  //   z-index: 1;
  // }
}

.main {
  // padding: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 8rem);

  @include responsive(tab-port) {
    flex-direction: column;
  }

  &__title {
    font-size: 2.6rem;
    font-weight: 400;
    margin-right: 4rem;
    padding-left: 2rem;

    &--focus {
      font-size: 7.2rem;
      display: block;
      font-weight: 700;
    }
  }

  &__button {
    @include buttonStyle;
    font-size: 1.8rem;
    margin: 4rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s, color 0.3s,
      background-color 0.3s;
  }

  &__scroll {
    @include responsive(tab-land) {
      display: none;
    }
    opacity: 0.2;
    animation: arrow-move 1s linear infinite;
    position: absolute;
    bottom: 5%;
    left: 50%;
  }
}

.cloud {
  max-width: 600px;
  min-width: 320px;

  @include responsive(tab-port) {
    max-width: 500px;
  }
}

.section {
  padding: 10rem 0;
  // margin-top: 5rem;

  @include responsive(tab-land) {
    padding: 3rem 0;
    margin-top: 0;
  }

  h2 {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 4rem;
  }
}

.projects {
  max-width: 1500px;
  padding: 25vh 5vw;
  background: rgb(218, 232, 232);
  clip-path: polygon(0 14%, 100% 0%, 100% 86%, 0 100%);
  @include responsive(tab-land) {
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
  }
  @include responsive(tab-port) {
    clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0 100%);
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}

.project {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  width: 31%;
  max-width: 500px;
  padding-bottom: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;

  @include responsive(tab-land) {
    width: 45%;
  }
  @include responsive(tab-port) {
    width: 80%;
    font-size: 2.3rem;
  }
  @include responsive(phone) {
    width: 90%;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    @include responsive(tab-land) {
      transform: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .project__image {
      filter: blur(5px);

      @include responsive(tab-land) {
        filter: none;
      }
    }
  }

  &__image {
    object-fit: cover;
    height: 200px;
    width: 100%;
    clip-path: ellipse(95% 63% at 50% 35%);
    transition: filter 300ms;
  }

  &__figure {
    position: relative;
  }

  &__image-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include responsive(tab-land) {
      display: none;
    }

    a {
      font-size: 1rem;
      display: block;
      text-decoration: none;
      margin-bottom: 0.5rem;
      text-align: center;
      @include buttonStyle;
    }
  }

  &__image-caption--hidden {
    display: none;
  }

  &__name,
  &__desc,
  &__stack {
    padding: 0 2.5rem 1rem;
  }

  &__desc {
    color: $grey-primary;
    font-size: 1.5rem;
  }

  &__stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  &__tech {
    font-size: 1rem;
    margin-right: 1rem;
    color: $color-primary;
    border-radius: 10%;
    padding: 0.2rem 0.5rem;

    @include responsive(tab-port) {
      font-size: 1.3rem;
    }
    &--react {
      background-color: $react;
    }
    &--redux {
      background-color: $redux;
    }
    &--tailwind {
      background-color: $tailwind;
    }
    &--nodejs {
      background-color: $node;
    }
    &--postgresql {
      background-color: $postgres;
    }
    &--firebase {
      background-color: $firebase;
    }
    &--gsap {
      background-color: $gsap;
    }
    &--scss {
      background-color: $scss;
    }
  }

  &__links-mobile {
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    @include responsive(tab-land) {
      display: block;
    }

    a:link,
    a:visited {
      @include linkStyle;
    }

    .material-symbols-sharp {
      margin-right: 1rem;
      background-color: $color-primary;
      border-radius: 50%;
      padding: 1rem;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 2px;
    }
  }
}

.experience {
  width: 100%;

  &__position {
    font-family: 'Poppins', sans-serif;
    min-height: 31.5rem;
    max-width: 50rem;
    padding: 3rem 3rem;
    margin: 9rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 0.8s;

    @include responsive(tab-port) {
      padding: 3rem 2rem;
    }

    @include responsive(phone) {
      max-width: 80vw;
      min-height: 35rem;
    }

    &--nike {
      border-top: 5px solid orange;
    }
    &--gefco {
      border-top: 5px solid yellow;
    }
    &--oclock {
      border-top: 5px solid green;
    }
  }

  &__title {
    font-size: 2rem;
  }

  &__company {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  &__logo {
    position: absolute;
    top: 15%;
    right: 15%;
  }

  &__date {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__missions-item {
    font-size: 1.5rem;
    font-weight: 300;
    color: $grey-primary;
    &::before {
      content: '▹ ';
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: rgba(175, 174, 174, 0.8);
    top: 90%;
    outline: none;
  }
  .swiper-button-prev {
    left: 45%;
    @include responsive(tab-land) {
      left: 40%;
    }
    @include responsive(tab-port) {
      left: 35%;
    }
    @include responsive(phone) {
      left: 30%;
    }
  }
  .swiper-button-next {
    right: 45%;
    @include responsive(tab-land) {
      right: 40%;
    }
    @include responsive(tab-port) {
      right: 35%;
    }
    @include responsive(phone) {
      right: 30%;
    }
  }
}

.about {
  width: 100%;
  padding: 20vh 10vw;
  background: rgb(218, 232, 232);
  clip-path: polygon(0 16%, 100% 0%, 100% 84%, 0 100%);
  // background: url('illustration.png');
  // background-position: left;
  // background-size: 15%;
  // background-repeat: no-repeat;

  &__box {
    max-width: 800px;

    margin: 0 auto;
  }
  &__desc {
    font-size: 2rem;
    text-align: justify;
  }
}

.contact {
  font-size: 2rem;
  text-align: center;
  width: 60%;

  &__button {
    @include buttonStyle;
    font-size: 1.6rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 2em;
    transition: all 0.3s;

    &:active {
      background-color: $color-secondary;
      transform: scale(1) translateY(0);
    }
  }
}

.footer {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px;

  &__text {
    margin-right: 15px;
  }

  &__icon {
    margin-right: 10px;
    border-radius: 50%;
  }
}

@keyframes navbarAppear {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes navbarDisappear {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}

@keyframes contacts {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes arrow-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
